<html>
	<head>
		<title>
            
            {% if title == "About Page" %}
            About Page | OneMonth.com
            {% elif title=="Contact Page"%}
            Contact Page | OneMonth.com
            {%else%}
            OneMonth.com
            {% endif %}


        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	</head>
	<body>
		<a href='/'> Homepage</a>
        <a href='/about'> About</a>
        <a href="/contact">Contact</a>
</html>