body {
    background: none;
    width:100%;
    height:100%;
    margin: 0px;
}

.container {
    width:106.5%;
    height: auto;
    margin:0;
    display: flex;
    flex-direction: column;
}
.hero {
    width:100%;
    height: 100%;
}

img {
    border-radius: 0%;
    margin:0;
    margin-bottom:5px;
    }

.images {
    margin-left: 110px;
}

h1 {
    display: grid;
    margin: 0;
    padding:0;
    padding-right: 35px;
    place-items: center center;
    margin-bottom:15px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

address {
    align-items: center;
    margin: 0 auto;  /* CENTERS TEXT WITHIN CONTAINER */
}

p{
 margin:0 auto;
}

.layout.intro:nth-child(n){
    background: #FFF;
}

.layout.contact:nth-child(n+1){
    background-color: #e6e9ea;
    padding:5px;
    
}

.layout.footer:nth-child(n+2){
    background-color: #e6e9ea;
}